@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
  font-family: Montserrat, sans-serif;
  margin: 0;
  background-color: #778899;
  color: #FFB6C1;
}



html {
	scroll-behavior: smooth;
}

.title {
width: 100%;
height: 100%;
background-color: red;
position: relative;
animation-name: db_title;
animation-duration:  6s;
animation-iteration-count: infinite;
padding: 1em 0em;
text-align: center;
color: black;
position: static;
}

article {
  text-align: center;
}

@keyframes db_title {
  0%   {background-color:#F5F5F5; left:0px; top:0px;}
  25%  {background-color:#FA8072; left:0px; top:0px;}
  50%  {background-color:#DDA0DD; left:0px; top:0px;}
  75%  {background-color:#800080; left:0px; top:0px;;}
  100% {background-color:#6A5ACD; left:0px; top:0px;}
}

#slideDeck section{
  width: 80%;
  margin: 5vh auto;
  background-color: #fff;
  min-height: 30vh;
  text-align: center;
  overflow: auto;
  border-radius: 2em;
  display: none;
  flex-direction: column;
  justify-content: space-around;

}

#slideDeck section.current {
  display:flex;


}


footer section{
  display: flex;
  justify-content: space-between;
  padding: 1em

}

#toolbar {
  justify-content: center;
}

#current {
  margin: 0 1em;
}
.section-image {
  margin: auto;
  display: block;
}





#menuToggler, nav{
  background-color: rgba(0,0,0, 0.7);
}


#menuToggler {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 3em;
  text-align: right;
  line-height: 1em;
  padding: 0 1rem;
  color:  #FFB6C1;
  z-index:  1;
}


nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateX(-100vw);
  transition: 0.4s;
}


nav.open {
  opacity: 1;
  transform: none;

}


nav a {
  font-size:  2em;
  text-decoration: none;
  padding: 0.5em 1em;
  color:  #FFB6C1;
  text-align: center;
}


@media screen and (min-width: 500px) {

  #menuToggler {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    opacity: 1;
    transform: none;
    height: auto;
    position: static;
  }


  nav a {
    font-size: 1.3em;
  }

}
